@font-face {
  font-family: "poppinsRegular";
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: "poppinsMedium";
  src: url("./assets/fonts/Poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: "poppinsBold";
  src: url("./assets/fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: "senRegular";
  src: url("./assets/fonts/Sen/static/Sen-Regular.ttf");
}
@font-face {
  font-family: "senMedium";
  src: url("./assets/fonts/Sen/static/Sen-Medium.ttf");
}
@font-face {
  font-family: "senBold";
  src: url("./assets/fonts/Sen/static/Sen-Bold.ttf");
}
@font-face {
  font-family: "bayonRegular";
  src: url("./assets/fonts/Bayon/Bayon-Regular.ttf");
}
@font-face {
  font-family: "montseratBold";
  src: url("./assets/fonts/Montserrat/static/Montserrat-Bold.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input {
  font-family: "poppinsRegular";
}
h1 {
  color: black !important;
}

a {
  text-decoration: none;
}
