#check-out {
    padding: 2.5vw 1vw;
    header {
      padding-bottom: 1.2vw;
      h1 {
        font-size: 3.4vw;
        font-family: "senMedium";
      }
    }
  
    display: flex;
  
    .col:nth-child(1) {
      width: 100%;
      // background-color: red;
      // height: 100vh;
      // border: 1px solid red;
      header {
        h1 {
          padding-left: 2vw;
        }
      }
      #address {
        padding: 1vw 2vw;
        display: flex;
        header {
          padding-bottom: 1.2vw;
          h1 {
            font-size: 3.4vw;
            font-family: "senMedium";
          }
        }
        .col:nth-child(1) {
          width: 50vw;
        }
        .col:nth-child(2) {
          width: 40vw;
          .row {
            box-shadow: unset;
            border-radius: unset;
            display: flex;
            h1 {
              padding: 0 1vw;
            }
          }
        }
        .col {
          // display: flex;
          .row {
            background-color: white;
            padding: 2vw;
            border-radius: 2vw;
            // box-shadow: 10px 10px 26px -1px rgba(0, 0, 0, 0.32);
  
            p {
              font-family: "poppinsRegular";
              display: flex;
              align-items: center;
              .phone-icon {
                font-size: 2.5vw;
                padding-right: 0.8vw;
              }
            }
          }
          .btn {
            margin-top: 1.5vw;
            button {
              display: flex;
              align-items: center;
            }
            .edit-icon {
              margin-right: 0.5vw;
            }
          }
        }
      }
  
      #edit-address {
        padding: 1vw 2vw;
        header {
          h1 {
            span {
              font-size: 1.2vw;
              font-family: "poppinsRegular" !important;
              font-weight: 500;
              color: red;
            }
          }
        }
        .columns {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          .col:nth-child(1) {
            border: unset !important;
          }
  
          .col {
            // background-color: red;
            width: calc(80vw / 2);
            .edit-btn {
              display: flex;
              margin-top: 1.2vw;
              // border: 1px solid black;
              button {
                margin-right: 1vw;
                width: fit-content;
                padding: 0.9vw 1.8vw;
                display: flex;
                align-items: center;
                font-size: 1vw;
              }
            }
            .row {
              padding: 1vw 0;
              // background-color: black;
              // width: 30vw;
              p {
                padding: 0 0 0.4vw 0;
                text-shadow: 1px 1px 2px black 0.9;
                color: gray;
                font-family: "poppinsRegular";
                font-size: 1.3vw;
              }
              input {
                padding: 0.5vw 0.8vw;
                width: 20vw;
                font-size: 1.3vw;
                outline: none;
                border: 1px solid rgb(208, 208, 208);
              }
              input:focus {
                outline: none;
              }
            }
          }
        }
      }
    }
  }